<h1>Загрузка файла</h1>

<form method="POST" action="{{ path('book_upload') }} " enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit" class="btn btn-primary">Upload!</button>
</form>
<hr>